{
    "root": true,
    "extends": [
        "andrewaylett",
        "plugin:@typescript-eslint/strict-type-checked",
        "plugin:@typescript-eslint/stylistic-type-checked"
    ],
    "parserOptions": {
        "project": true
    },
    "overrides": [
        {
            "files": ["jest.config.ts"],
            "parserOptions": {
                "project": "tsconfig.jest.json"
            }
        }
    ]
}
